<!DOCTYPE html>
<html>
  <head>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
  <h1><%= title %></h1>
  <body>  
    
  <div id="anime">
    <img src="https://i.imgur.com/6R0HCn7.png" id="Bleach">
    <img src="https://i.imgur.com/Ecvnsax.jpg" id="Naruto">
    <img src="https://i.imgur.com/ULkFWgf.jpg" id="Yu">
</div>
  
  
  </body>
</html>
