<!DOCTYPE html>
        <html>
            <% let animeData; %>
            <% let anime; %>
            <head>
             
              <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>         
                <meta charset="UTF-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link rel='stylesheet' href='/stylesheets/new.css'/>
                <title>Post an Anime</title>
                <nav>
                    <a href='/animes'>Home</a>
                    <button><a href="/logout">Log Out</a></button>
                </nav>
             </head>
             <body class="container">
                <h1 class="jumbotron text-center">Animes</h1>
                <div class="row">
                  <div class="col-xs-6 col-xs-offset-6">
                    <form action="" method="GET">
                      <div class="input-group">
                        <input type="text" name="Anime" class="form-control"
                          placeholder="Enter an Anime">
                        <span class="input-group-btn">
                          <button class="search" type="submit">Go!</button>
                        </span>
                      </div>
                    </form>
                  </div>
                </div>
              
                <hr>
                <div class="row col-xs-8 col-xs-offset-2">
                  <% if (animeData) { %>
                    <div class="panel panel-default">
                      <div class="panel-heading text-center">
                        <img src="<%= animeData.html_url %>"
                          class="img-circle" width="300">
                        <h2><%= animeData.anime %></h2>
                      </div>
                      <div class="panel-body">
                        <h3>anime:</h3>
                        <div class="list-group">
                          <% animeData.anime.forEach(function(anime) { %>
                            <%= anime.name %>
                            <a href="<%= anime.html_url %>" target="_blank"
                              class="list-group-item">
                            </a>
                          <% }); %>
                        </div>
                      </div>
                    </div>
                  <% } else { %>
                    <h3 class="text-center text-info">
                      Review this Anime
                    </h3>
                  <% } %>
                </div>    
              </body>
        </html>