<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <nav><a href="/">Home</a></nav>
    <nav><a href="/auth/google">Log In</a></nav>
    <nav><a href="/">Log Out</a></nav>

  </head>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
