* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: #424748;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  background-color:rgb(233, 231, 228);
  display: flex;
  box-sizing: border-box;
  justify-content: space-evenly;
  grid-template-areas: 
    "nav"
    "main"
}

body > nav {
  grid-area: nav;
  background-color: #4020f7;
  display: flex;
  box-sizing:content-box;
  justify-content: top;
  align-items: center;
}

nav > img {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}
h1 {
  text-align: center;
}
p {
  text-align: center;
}



button {
  background-color: cyan;
 
}

#anime {
  display:inline-flex;
  justify-content: space-around;
  height: 30%;
  width: 90%;
  
}