<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
      <nav>
        <a href="/auth/google" class="login"><button>Log In</button></a>
  <a href="/animes/search"><button>Create a Post</button></a>

  <title><%= title %></title>
</nav>
      
    </head>
    <body> 
      <h1>Anime Board</h1>
      <div>
        <img src="https://cdn.myanimelist.net/images/anime/1208/94745.jpg" alt="">
        <img src= "https://cdn.myanimelist.net/images/anime/9/9453.jpg" alt="">
        <img src="https://cdn.myanimelist.net/images/anime/1171/109222.jpg" alt="">
        <img src="https://cdn.myanimelist.net/images/anime/1704/106947.jpg" alt="">
      </div> 
     <h3>
      Find and review animes!
     </h3>
    </body>
  </html>
  