<%- include('../partials/header') %>
<nav>
  <a href="/auth/google" class="login"><button>Log In</button></a>
  <a href="/creators/new"><button>Create a Post</button></a>
  <title><%= title %></title>
</nav>


