<%- include('../partials/header') %>
<nav>
  <a href='/animes'>Return to Leaf Village</a>
  <a href="/auth/google" class="login"><button>Log In</button></a>
  <a href="/logout"><button>Log Out</button></a>
</nav>


