<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
      <nav>
        <a href="/auth/google" class="login"><button>Log In</button></a>
  <a href="/animes/search"><button>Search Animes</button></a>

  <title><%= title %></title>
</nav>
      
    </head>
    <body> 
      <h1>Anime Board</h1>
      <div>
        <img src="https://i.imgur.com/eSdGqKf.png" id="logo">
    
      </div> 
     <h3>
      Find and review animes!
     </h3>
    </body>
    <hr>
     <footer>
      <img src="https://i.imgur.com/awNFzGJ.png" alt="">
      
      <img src="https://i.imgur.com/oiP4nuE.png" alt="">
      <img src="https://i.imgur.com/VmnAyuY.png" alt="">
    </footer>
  </html>
  