<%- include('../partials/header') %>




<form id="new-form" action="/animes" method="POST">
  <label>Title:</label>
  <input type="text" name="title">
  <label>Release Year:</label>
  <input type="text" name="releaseYear">
  <label>Studio</label>
  <select name="creator">
    <option value="Shonen">G</option>
    <option value="Jump">PG</option>
    <option value="Funimation">PG-13</option>
    <option value="Igris">R</option>
  </select>
  <label>Aired on:</label>
  <input type="checkbox" name="airedOn" checked>
  <input type="submit" value="Add Anime">
</form>

<%- include('../partials/footer') %>